<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<style type="text/css">
			
		</style>
	</head>
	<body>		
		<div class="container">
			{{{ body }}}
		</div>	

	</body>
</HTML>