<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script type="text/javascript" href="/js/bootstrap.js"></script>
	</head>
	<body>		
		<div class="fluid-container">
			{{{ body }}}
		</div>	

	</body>
</HTML>