<div class="jumbotron">	
	<div class="container">
		<h1>Friend Finder</h1>
		<hr>
		<p>Connect with amazing friends now!</p>
		<p><a class="btn btn-primary btn-lg" href="/survey" role="button">Start</a></p>
	</div>
</div>